<%- include("header")-%>
<h2>About Us</h2>
<div class="container">
  <div class="jumbotron">
    <p>Have you ever heard the phrase 'You never get a second chance to make a first impression?' The same is true for writers. The impression you make on a reader begins from the first sentence they read, and you only have one
      chance to get it right. Your job as a writer is to grab the readers' attention and make them want to hear more. So whether you're writing a persuasive, narrative, or informational essay, we've got you covered. Use these frames to get your
      paragraph started. We gave you a little push and left the topic open-ended to fit with any subject. Persuasive essays have a single purpose - to convince your reader of something. Some writers choose to wade into the waters gradually, winning the
      reader over with solid evidence and a soft, persuasive tone. Others hit the ground running. Take a look.</p>
  </div>
</div>
<%- include("footer")-%>
