<%- include("header")-%>

<h2>Contact Information</h2>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img class="contact-img" src="/images/profilepic1.jpg" alt="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" class="img">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2>Jamie Rubie</h2><h3>Owner</h3>
        </div>
        <hr>
        <ul class="container details">
          <li>
            <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span><a href="tel:314-471-9546">314-740-1142</a></p>
          </li>
          <li>
            <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><a href="<a href="mailto:drubie76@gmail.com?subject=feedback">email Jamie</a></p>
          <!-- </li>
          <li>
            <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><a href="https://www.linkedin.com/">linkedin</a></p>
          </li>
          <li>
            <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="https://www.youtube.com/">youtube</a></p> -->
        </ul>
      </div>
    </div>
  </div>


  <%- include("footer")-%>
