<%- include("header")-%>

<div class="container">
  <h2>In-Shop Service</h2>
  <form class="openCloseForm" method="get" action="/contactInShopS">
    <button type="submit" class="openCloseBtn btn btn-light">Tell Us More</button><br><b>Rate: $50 service plus parts and material </b><br><br>
    <ul>
      <li>Pump Repair</li>
      <li>Motor Replacement</li>
      <li>Pool Cleaner Repair</li>
      <li>Salt Cell Cleaning</li>
      <li>Filter and Valve Repair</li>
      <li>Tablet Feeders</li>
    </ul>
  </form>
</div>



<%- include("footer")-%>
