<%- include("header")-%>

<div class="container">
  <h2>Pool Openings</h2><br>
  <form class="openCloseForm" method="get" action="/contactPoolOpen">
    <button type="submit" class="openCloseBtn btn btn-light">Request Pool Opening</button>
    <p><b>Rate: $180 first hour / $75 per additional 30 minutes </b><p>
    <ul>
      <li>We ask customer to fill pool to normal operation level prior to our arrival.</li>
      <li>We ask that the customer bring a 16oz water sample to be tested at our lab 1-2 days after the opening for water balancing and treatment.</li>
      <li>Any leaves, debris, and/ or minor tasks to be done on pool must be requested to be done by the homeowner at time of service or during scheduling.</li>
      <li>Any major repairs/ tasks may be rescheduled to a later date depending on the circumstances.</li>
      <li>Customer may request a 1 hr cleaning at our standard service rate of $100.00 per hour at time of scheduling pool opening. this service will be performed 2-3 business days after the pool is opened.</li>
      <li>All scheduling is done on a first come first serve basis. we accept opening requests after january 1st of the same year.</li>
      <li>We may request the customer to be at home at time of service to process payment. if the customer is not available we will require payment information by credit card prior to opening otherwise opening will be scheduled at the next<br>
        available date.</li><br>
      <b>* All openings are charged at an hourly rate.</b><br>
      <b>* Two person crew.</b><br>
      <b>* Standard openings will recieve an initial shock treatment of 5 gallons of liquid chlorine($15.85), unless specified not to by owner. Charges will apply if extra shock is needed.</b>
    </ul>
    <img class="service-image" src="images/poolOpen.jpg" alt="">
  </form>
</div>

<hr>

<div class="container">
  <h2>Pool Closings</h2><br>
  <form class="openCloseForm" method="get" action="/contactPoolClose">
    <div class="container">
      <button type="submit" class="openCloseBtn btn btn-light">Request Pool Closing</button>
      <p><b>Rate: $180 first hour / $75 per additional 30 minutes</b>
        <p>
          <ul>
            <li>We ask for the homeowner to lower water below inlets prior to scheduled time to reduce cost for winterization. Extra costs will occur if water is not to correct level.</li>
            <li>Customer has option to have just the plumbing lines winterized only. This may decrease the amount of time needed for winterization and lower closing costs.</li>
            <li>Any new pool covers, water bags, air pillow, etc. needed for winterization must be ordered or specified upon scheduling.</li>
            <li>If customer needs to lower water but cannot for any reason they may request a pump down. extra charges will occur for pump down service.</li>
            <li>All scheduling is done on a first come first serve basis. closing requests are taken after july 4th of the same year.</li>
            <li>We request the customer to be home at time of service to process payment. If the customer is not available we will require payment information by credit card prior to closing otherwise closing will be scheduled at the next available
              date.</li><br>
            <b>* Two person crew</b><br>
            <b>* All closings are charged at an hourly rate plus chemicals, antifreeze, parts, and material.
            </b>
          </ul>
          <img class="service-image" src="images/poolClosing.png" alt="">
  </form>
</div>
<%- include("footer")-%>
