<%- include("header")-%>
<div class="container">
  <h2>Weekly Service</h2>
  <form class="openCloseForm"><button type="button" name="button" class="openCloseBtn btn btn-light">Request Weekly Service</button><br>
    <b>Pool Only: $65 hour / per trip</b>
    <ul>
      <li>Chemicals not included</li>
      <li>Test and Balance water chemistry</li>
      <li>Vacuum entire pool area</li>
      <li>Skim and remove top water debris</li>
      <li>Clean or Backwash filters as needed</li>
      <li>Fill chlorine feeders</li>
      <li>Clean tile line as needed</li>
      <li>Empty Baskets</li>
      <li>Inspect equipment for proper operation</li>
    </ul>
    <hr>
    <b>Spa Only: $50 hour / per trip</b>
    <ul>
      <li>Chemicals not included</li>
      <li>Test and Balance water chemistry</li>
      <li>Vacuum Spa</li>
      <li>Skim and remove top water debris</li>
      <li>Clean or Backwash filters as needed</li>
      <li>FIll chlorine feeders</li>
      <li>Clean tile line as needed</li>
      <li>Empty Baskets</li>
      <li>Inspect equipment for proper operation</li>
    </ul>
    <hr>
    <b>Combo: $85 hour / per trip</b>
    <ul>
      <li>Chemicals not included</li>
      <li>Test and Balance water chemistry</li>
      <li>Vacuum entire Pool and Spa</li>
      <li>Skim and remove top water debris</li>
      <li>Clean or Backwash filters as needed</li>
      <li>FIll chlorine feeders</li>
      <li>Clean tile line as needed</li>
      <li>Empty Baskets</li>
      <li>Inspect equipment for proper operation</li>
    </ul>
  </form>
</div>

<%- include("footer")-%>
